Calc/.vs/Calc/DesignTimeBuild/.dtbcache.v2
Calc/.vs/Calc/FileContentIndex/read.lock
Calc/Calc/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Calc/Calc/obj/Debug/net6.0/Calc.AssemblyInfo.cs
Calc/Calc/obj/Debug/net6.0/Calc.AssemblyInfoInputs.cache
Calc/Calc/obj/Debug/net6.0/Calc.GeneratedMSBuildEditorConfig.editorconfig
Calc/Calc/obj/Debug/net6.0/Calc.GlobalUsings.g.cs
Calc/Calc/obj/Debug/net6.0/Calc.csproj.AssemblyReference.cache
